/*  Reset */
/*
test
*/
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

html {
  overflow: auto !important; }

body {
  zoom: 1; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  letter-spacing: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  border: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  Reset */
/*
test
*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

html {
  overflow: auto !important; }

body {
  zoom: 1; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  letter-spacing: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  border: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.main-one {
  width: 100%;
  margin: 0 auto;
  right: 0;
  left: 0;
  overflow: hidden; }

.karkas {
  background-image: -o-linear-gradient(45deg, rgba(72, 42, 127, 0.9), 20%, rgba(142, 109, 202, 0.7), 75%, rgba(255, 213, 123, 0.6));
  background-image: linear-gradient(45deg, rgba(72, 42, 127, 0.9), 20%, rgba(142, 109, 202, 0.7), 75%, rgba(255, 213, 123, 0.6));
  padding-top: 15px;
  padding-bottom: 15px; }

.main-menu {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 2.5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%; }

.icon {
  position: relative;
  width: 45px;
  height: 45px; }

.icon:hover {
  -webkit-filter: drop-shadow(0 0 5px rgba(100, 0, 0, 0.9));
          filter: drop-shadow(0 0 5px rgba(100, 0, 0, 0.9)); }

.icon-pointer {
  position: absolute;
  left: 25%;
  top: 125%;
  bottom: -75%;
  background-color: #F3FFFE;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 50%;
  height: 50%;
  opacity: 0; }

.active .icon-pointer {
  opacity: 1; }

.home {
  display: none; }

.title {
  background-color: #F3FFFE;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center; }

.h1 {
  font-family: 'Rancho', cursive;
  font-size: 24px;
  color: #16051f; }

.subtitle {
  font-family: 'Handlee', cursive;
  font-style: 18px;
  margin-top: 5px;
  color: #16051f; }

.about_me {
  display: none;
  background-color: #F3FFFE;
  text-align: center; }

.h2 {
  font-family: 'Handlee', cursive;
  font-style: 18px;
  margin-top: 5px;
  color: #16051f;
  background-color: #F3FFFE; }

.text {
  font-family: 'Handlee', cursive;
  font-style: 18px;
  margin-top: 5px;
  color: #16051f;
  background-color: #F3FFFE; }

.works {
  display: none;
  text-align: center; }

.gallery {
  width: 150px;
  height: 150px;
  background-image: url("../img/scr1.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 85px; }

.contact_me {
  display: none;
  text-align: center; }

.form {
  margin-top: 15px; }

.active-panel {
  display: block; }

/*# sourceMappingURL=../maps/main.css.map */
