/*  Reset */
/*
test
*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

html {
  overflow: auto !important; }

body {
  zoom: 1; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  letter-spacing: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  border: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fontsMontserrat-Medium/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium/Montserrat-Medium.svg#svgMontserrat-Medium") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

/*  Reset */
/*
test
*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

html {
  overflow: auto !important; }

body {
  zoom: 1; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  letter-spacing: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  border: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fontsMontserrat-Medium/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium/Montserrat-Medium.svg#svgMontserrat-Medium") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

.main-one {
  width: 100%;
  margin: 0 auto;
  right: 0;
  left: 0;
  overflow: hidden; }

.karkas {
  height: 500px;
  background-image: -o-linear-gradient(45deg, rgba(72, 42, 127, 0.9), 20%, rgba(142, 109, 202, 0.7), 75%, rgba(255, 213, 123, 0.6));
  background-image: linear-gradient(45deg, rgba(72, 42, 127, 0.9), 20%, rgba(142, 109, 202, 0.7), 75%, rgba(255, 213, 123, 0.6));
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 250px;
  padding-right: 250px; }

.outline {
  border: 0.1rem solid;
  color: red; }

.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.icon {
  position: relative;
  width: 65px;
  height: 65px; }

/*# sourceMappingURL=../maps/main.css.map */
