
.main-one {
    width: 100%;
    // max-width: 81.43%;
    margin: 0 auto;
    right: 0;
    left: 0;
    overflow: hidden;
}

.karkas{
    height: 500px;
    background-image: linear-gradient(45deg, rgba($dark-purple, .9), 20%, rgba($purple, .7), 75%, rgba($peach, .6));
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 250px;
    padding-right: 250px;
}

.outline{
    border: 0.1rem solid;
    color: red;
}